@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-google-sans: "Google Sans", "Noto Sans Thai", Arial, Helvetica, sans-serif;
}

html {
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-google-sans);
}