@import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/Umpush/Umpush.css';
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Umpush", sans-serif;
}
